<html>
<head>
  <title>Twitter Simulator</title>
</head>
<body>
<header>
  <div class="container">
    <div class="logo-container">
      <img src="../assets/logo.png" alt="Логотип">
      <h1>Twitter Simulator</h1>
    </div>
    <div class="btn-container">
      <a class="btn signup" routerLink="/register" [class.active]="isCurrentTab('/register')" *ngIf="!isLoggedIn">Sign Up</a>
      <a class="btn signin" routerLink="/login" [class.active]="isCurrentTab('/login')" *ngIf="!isLoggedIn">Sign In</a>
      <a class="btn home" routerLink="/main" [class.active]="isCurrentTab('/main')" *ngIf="isLoggedIn">Home</a>
      <a class="btn myPosts" routerLink="/myPosts" [class.active]="isCurrentTab('/myPosts')" *ngIf="isLoggedIn">Profile</a>
      <a class="btn addPost" routerLink="/addPost" [class.active]="isCurrentTab('/addPost')" *ngIf="isLoggedIn">New Post</a>
      <a class="btn logout" (click)="logout()" *ngIf="isLoggedIn">Logout</a>
    </div>
  </div>
</header>
<router-outlet></router-outlet>
</body>
</html>
