.main {
  max-width: calc(100% - 18px);
  margin: 0 auto;
  padding: 0 16px;
}

.center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.post {
  width: calc(30% - 16px);
  background-color: #fff;
  border-radius: 18px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 16px;
  padding: 16px;
  word-break: break-word;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.post-content {
  margin-bottom: 8px;
  display: flex;
  align-items: flex-start;
}

.post-container {
  width: 40%;
  max-width: 100%;
}

.post-container img {
  width: 100%;
  height: auto;
}

.description {
  flex: 1;
  word-wrap: break-word;
}

@media (max-width: 992px) {
  .description p {
    font-size: 13px;
  }
}

.description p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  margin-bottom: 8px;
  margin-left: 18px;
}

.more-btn {
  background-color: transparent;
  border: none;
  color: #888;
  font-style: italic;
  font-size: 14px;
  cursor: pointer;
  padding: 0;
  text-decoration: none;
  display: inline-block;
  max-width: calc(100% - 16px);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.more-btn:hover {
  text-decoration: underline;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 12px;
}

.search-input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 8px;
  font-size: 16px;
  width: 200px;
}

.search-btn {
  padding: 8px 16px;
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
  background-color: #1181c7;
}

.search-btn:hover {
  background-color: rgba(29, 161, 242, 0.8);
}

.btn.like {
  position: relative;
  vertical-align: middle;
  padding: 12px 24px;
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
  overflow: hidden;
}

.btn.like .like-icon {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 31px;
  height: 23px;
  background-image: url('/assets/inActiveLike.png');
  background-repeat: no-repeat;
}

.btn.like.active .like-icon {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 31px;
  height: 23px;
  background-image: url('/assets/activeLike.png');
  background-repeat: no-repeat;
}

.liked-users {
  display: flex;
  align-items: flex-start;
  margin-top: 6px;
  margin-bottom: 6px;
}

.liked-username {
  margin-right: 4px;
  margin-top: 6px;
  margin-bottom: 6px;
}

.more-likes {
  font-style: italic;
  color: #888;
  margin: 6px;
}

.date {
  font-style: italic;
}

.post-details {
  display: flex;
  margin-top: auto;
  justify-content: space-between;
  align-items: center;
  color: #888;
  font-size: 14px;
}
