<main class="center-content">
  <div class="search-container">
    <input type="text" [(ngModel)]="searchTerm" placeholder="Search by username" class="search-input">
    <button class="btn search-btn" (click)="searchByUsername()">Search</button>
  </div>
  <div class="post-grid">
    <div class="post" *ngFor="let post of posts.slice().reverse()">
      <div class="post-owner" *ngIf="post.user">{{ post.user.username }}</div>
      <div class="post-content">
        <p class="post-container">
          <img src="{{ post.imagePath }}" alt="Image">
        </p>
        <div class="description">
          <p *ngIf="!showFullDescription">{{ post.description | slice:0:100 }}</p>
          <p *ngIf="showFullDescription">{{ post.description }}</p>
          <button class="more-btn" *ngIf="post.description.length > 100" (click)="toggleDescription(post)">
            {{ showFullDescription ? 'less' : '... more' }}
          </button>
        </div>
      </div>
      <div class="post-details">
        <div class="like-container">
          <a class="btn like" (click)="toggleLike(post.id)" [class.active]="isLiked">
            <span class="like-icon"></span>
          </a>
          <span class="likes" *ngIf="post.likes">
            <div class="liked-users">
              <ng-container *ngIf="post.likes.length === 1">
                <span class="liked-username">Liked: {{ post.likes[0].user.username }}</span>
              </ng-container>
              <ng-container *ngIf="post.likes.length === 2">
                <span class="liked-username">Liked: {{ post.likes[0].user.username }}, </span>
                <span class="liked-username">{{ post.likes[1].user.username }}</span>
              </ng-container>
              <ng-container *ngIf="post.likes.length > 2">
                <span class="liked-username">Liked: {{ post.likes[0].user.username }}, </span>
                <span class="liked-username">{{ post.likes[1].user.username }}</span>
                <span class="more-likes">and {{ post.likes.length - 2 }} more</span>
              </ng-container>
            </div>
          </span>
        </div>
        <span class="date" >{{ post.dateCreating | date }}</span>
      </div>
    </div>
  </div>
</main>
