<div class="container">
  <div class="card">
    <h1>Authorization</h1>
    <form>
      <p>
        <label>Username:</label>
        <input name="username" [(ngModel)]="username">
      </p>
      <p>
        <label>Password:</label>
        <input type="password" name="password" [(ngModel)]="password">
      </p>
    </form>
    <div class="btn-container">
      <button class="btn login" (click)="login()">Sign In</button>
    </div>
    <div *ngIf="loginErrors.length > 0" class="error-container">
      <p>Произошла ошибка при входе:</p>
      <ul>
        <li *ngFor="let error of loginErrors">{{ error }}</li>
      </ul>
    </div>

    <div *ngIf="generalError !== ''" class="general-error">
      <p>{{ generalError }}</p>
    </div>
  </div>
</div>
