.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f8fa;
}

.card {
  width: 400px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 24px;
}

h1 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 24px;
  color: #1da1f2;
}

form {
  margin-bottom: 24px;
}

label {
  display: block;
  font-size: 16px;
  margin-bottom: 8px;
  color: #1da1f2;
}

input {
  width: 95%;
  padding: 8px 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.btn-container {
  display: flex;
  justify-content: center;
}

.btn {
  padding: 12px 24px;
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn.login {
  background-color: #1da1f2;
}

.btn:hover {
  background-color: rgba(29, 161, 242, 0.8);
}


.error-container {
  color: brown;
  margin-bottom: 16px;
}

.error-container p {
  color: brown;
  font-weight: bold;
}

.error-container ul {
  color: brown;
  list-style: disc;
  padding-left: 20px;
}

.error-container li {
  color: brown;
  margin-bottom: 8px;
}

.general-error {
  color: brown;
  font-weight: bold;
  margin-bottom: 16px;
}
